GRAZ_E2E_WALLET_MNEMONIC=
GRAZ_E2E_CHAIN_ID=cosmoshub-4
GRAZ_E2E_CHAIN_NAME=Cosmos Hub
GRAZ_E2E_RPC_URL=https://cosmos-rpc.publicnode.com
GRAZ_E2E_REST_URL=https://rest.cosmos.directory/cosmoshub
GRAZ_E2E_BECH32_PREFIX=cosmos
GRAZ_E2E_DENOM=uatom
GRAZ_E2E_DISPLAY_DENOM=ATOM
GRAZ_E2E_GAS_PRICE=0.025
GRAZ_E2E_EXPECTED_ADDRESS=
GRAZ_E2E_ENABLE_TX=0
GRAZ_E2E_RECIPIENT_ADDRESS=
GRAZ_E2E_RPC_HEADERS_JSON=
