# default ignored directores/files
**/node_modules/
*.log
.DS_Store
.env*
.eslintcache
.turbo/
.vercel/
package-lock.json
tsconfig.tsbuildinfo
*.tsbuildinfo
.tsbuildinfo
coverage/

# allowed directories/files
!.gitkeep
!.env.example
